:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --owner-text-color: #757575;
  --accent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color-text: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background-section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #ffffff;
  --icon-color: #afb1b8;
  --main-font: Roboto, sans-serif;
}

.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}

body {
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* index */

/* header */
.header {
  background-color: var(--secondary-text-color);
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.header-logo-web {
  color: var(--accent-color);
}

.header-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.current {
  color: var(--accent-color);
}

.header-list.link:hover,
.header-list.link:focus {
  color: var(--accent-color);
}

.header-mail-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--owner-text-color);
}
.header-mail-tel.link:hover {
  color: var(--accent-color);
}

.header-mail-tel.link:focus {
  color: var(--accent-color);
}
/* main index */
.hero-section {
  background: var(--background-footer-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background: var(--accent-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* section2 */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.title-benefits {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-size: 14px;
}

.text-benefits {  
  line-height: 1.71;
  color: var(--owner-text-color);
}
/* section3 */
.title-work,
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* section4 */
.section-team{
  background: var(--buttons-port-color);
}

.title-team-small {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--owner-text-color);
}

/* footer */

.footer-index {
  background: var(--background-footer-color);
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-color);
}

.logo-footer-web {
  color: var(--accent-color);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-color);
}
.footer-link.link:hover,
.footer-link.link:focus {
  color: var(--accent-color);
}

/* portfolio */

.hero-btn-port {
  font-family: inherit;  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn-port:hover {
  color: var(--secondary-text-color);
  background: var(--accent-color);
}
.hero-btn-port:focus {
  color: var(--secondary-text-color);
  background: var(--accent-color);
}
.title-port-small {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.text-port {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--owner-text-color);
}
